@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-stepper-background-color 						->  set default background color for step.
 * --pds-stepper-foreground-color							->  set default foreground color for step.
 * --pds-stepper-label-color									->  set default text color for step label.
 *
 * --pds-stepper-background-color-complete		->  set default background color for complete steps.
 * --pds-stepper-foreground-color-complete		->  set default foreground color for complete steps.
 * --pds-stepper-label-color-complete					->  set default text color for complete step label.
 *
 * --pds-stepper-background-color-current			->  set default background color for current step.
 * --pds-stepper-foreground-color-current			->  set default foreground color for current step.
 * --pds-stepper-label-color-current					->  set default text color for current step label.
 *
 * --pds-stepper-background-color-error				->  set default background color for step with error.
 * --pds-stepper-foreground-color-error				->  set default foreground color for step with error.
 *
 */

.pds-stepper {
	--_pds-stepper-background-color: var(
		--pds-stepper-background-color,
		var(--pds-color-neutrals-medium-light)
	);
	--_pds-stepper-foreground-color: var(
		--pds-stepper-foreground-color,
		var(--pds-color-neutrals-darker)
	);
	--_pds-stepper-label-color: var(
		--pds-stepper-label-color,
		var(--pds-color-neutrals-darker)
	);
	--_pds-stepper-connector-color: var(
		--pds-stepper-background-color,
		var(--pds-color-neutrals-medium-light)
	);
	--_pds-stepper-background-color-complete: var(
		--pds-stepper-background-color-complete,
		var(--pds-color-status-success)
	);
	--_pds-stepper-foreground-color-complete: var(
		--pds-stepper-foreground-color-complete,
		white
	);
	--_pds-stepper-label-color-complete: var(
		--pds-stepper-label-color-complete,
		var(--pds-color-status-success-dark)
	);
	--_pds-stepper-background-color-current: var(
		--pds-stepper-background-color-current,
		white
	);
	--_pds-stepper-foreground-color-current: var(
		--pds-stepper-foreground-color-current,
		var(--pds-color-neutrals-darkest)
	);
	--_pds-stepper-label-color-current: var(
		--pds-stepper-label-color-current,
		var(--pds-color-status-success-darkest)
	);
	--_pds-stepper-background-color-error: var(
		--pds-stepper-background-color-error,
		var(--pds-color-status-warning-dark)
	);
	--_pds-stepper-foreground-color-error: var(
		--pds-stepper-foreground-color-error,
		white
	);

	max-width: 1400px;
	margin-inline: auto;
}

/* Set step width value based on number of total steps. */
.pds-stepper[data-steps='3'] {
	--_step-width: 33.33%;
}
.pds-stepper[data-steps='4'] {
	--_step-width: 25%;
}
.pds-stepper[data-steps='5'] {
	--_step-width: 20%;
}

ol.pds-stepper__steps {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

li.pds-stepper__step {
	width: var(--_step-width);
	position: relative;
	list-style: none;
}

/* Connecting lines. */
li.pds-stepper__step:not(:first-child)::before,
li.pds-stepper__step:not(:last-child)::after {
	content: '';
	height: 0.125rem;
	width: 50%;
	position: absolute;
	top: 0.625rem;
	background-color: var(--_pds-stepper-connector-color);
}

li.pds-stepper__step::before {
	right: calc(50% + (1.5rem / 2) + token('spacing.2XS' to rem));
}

li.pds-stepper__step::after {
	left: calc(50% + (1.5rem / 2) + token('spacing.2XS' to rem));
}

/* Step content wrapper. */
.pds-stepper__step-content {
	width: 100%;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	row-gap: token('spacing.XS' to rem);
	align-items: center;
	text-align: center;

	/* Clear default button styles. */
	border: none;
	background: none;
}

/* Step indicators. */
.pds-stepper__step-indicator {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--_pds-stepper-background-color);
	color: var(--_pds-stepper-foreground-color);
	font-family: token('typography.font.headings');
	font-size: token('typography.size.multipliers.reduce-one' to rem);
	font-weight: token('typography.font-weight.bold');
}

/* Step labels. */
.pds-stepper__step-label {
	padding-inline: 4%;
	color: var(--_pds-stepper-label-color);
	font-family: token('typography.font.bodycopy');
	font-size: token('typography.size.multipliers.sixth' to rem);
	font-weight: token('typography.font-weight.bold');
}

/* Modifications for current step. */
li.pds-stepper__step--current {
	--_pds-stepper-background-color: var(--_pds-stepper-background-color-current);
	--_pds-stepper-foreground-color: var(--_pds-stepper-foreground-color-current);
	--_pds-stepper-label-color: var(--_pds-stepper-label-color-current);
}

li.pds-stepper__step--current:not(.pds-stepper__step--error)
	.pds-stepper__step-indicator {
	box-sizing: border-box;
	border: 3px solid var(--_pds-stepper-foreground-color-current);
}

li.pds-stepper__step--current::before {
	--_pds-stepper-connector-color: var(--_pds-stepper-background-color-complete);
}

/* Modifications step with error. */
li.pds-stepper__step--error {
	--_pds-stepper-background-color: var(--_pds-stepper-background-color-error);
	--_pds-stepper-foreground-color: var(--_pds-stepper-foreground-color-error);
}

/* Modifications for complete steps. */
li.pds-stepper__step--complete {
	--_pds-stepper-background-color: var(
		--_pds-stepper-background-color-complete
	);
	--_pds-stepper-foreground-color: var(
		--_pds-stepper-foreground-color-complete
	);
	--_pds-stepper-label-color: var(--_pds-stepper-label-color-complete);
	--_pds-stepper-connector-color: var(--_pds-stepper-background-color-complete);
}
