@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-stepper-indicator-background-color 						->  set default background color for step indicator and line.
 * --pds-stepper-indicator-text-color										->  set default text color for step indicator.
 * --pds-stepper-label-text-color												->  set default text color for step label.
 *
 * --pds-stepper-indicator-background-color-complete		->  set default background color for complete indicator and line.
 * --pds-stepper-indicator-text-color-complete					->  set default text color for current step indicator icon or text.
 * --pds-stepper-label-text-color-complete							->  set default text color for complete step label.
 *
 * --pds-stepper-indicator-background-color-current			->  set default background color for current indicator.
 * --pds-stepper-indicator-text-color-current						->  set default text color for current step indicator.
 * --pds-stepper-label-text-color-current								->  set default text color for current step label.
 *
 * --pds-stepper-indicator-background-color-error				->  set default background color for error indicator.
 * --pds-stepper-indicator-text-color-error							->  set default text color for error indicator.
 *
 */

ol.pds-stepper__steps {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

li.pds-stepper__step,
li.pds-stepper__step button {
	position: relative;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: token('spacing.XS' to rem);

	/* Clear default button styles.  */
	border: none;
	background: none;
}

/* Step indicators. */
.pds-stepper__step-indicator {
	--_pds-stepper-indicator-background-color: var(
		--pds-stepper-indicator-background-color,
		var(--pds-color-neutrals-medium-light)
	);
	--_pds-stepper-indicator-text-color: var(
		--pds-stepper-indicator-text-color,
		var(--pds-color-neutrals-darker)
	);

	background-color: var(--_pds-stepper-indicator-background-color);
	color: var(--_pds-stepper-indicator-text-color);
	font-family: token('typography.font.headings');
	font-size: token('typography.size.multipliers.reduce-one' to rem);
	font-weight: token('typography.font-weight.bold');
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Connecting lines. */
li.pds-stepper__step:not(:first-child) .pds-stepper__step-indicator::before {
	content: '';
	width: 100%;
	height: 0.125rem;
	background-color: var(--_pds-stepper-indicator-background-color);
	position: absolute;
	top: 0.625rem;
	right: calc(50% + (1.5rem / 2) + token('spacing.2XS' to rem));
}

li.pds-stepper__step:not(:last-child) .pds-stepper__step-indicator::after {
	content: '';
	width: 100%;
	height: 0.125rem;
	background-color: var(--_pds-stepper-indicator-background-color);
	position: absolute;
	top: 0.625rem;
	left: calc(50% + (1.5rem / 2) + token('spacing.2XS' to rem));
}

/* Step labels. */
.pds-stepper__step-label {
	--_pds-stepper-label-text-color: var(
		--pds-stepper-label-text-color,
		var(--pds-color-neutrals-darker)
	);

	color: var(--_pds-stepper-label-text-color);
	font-family: token('typography.font.bodycopy');
	font-size: token('typography.size.multipliers.sixth' to rem);
	font-weight: token('typography.font-weight.bold');
}

/* Modifications for complete steps. */
.pds-stepper__step--complete .pds-stepper__step-indicator {
	--_pds-stepper-indicator-background-color-complete: var(
		--pds-stepper-indicator-background-color-complete,
		var(--pds-color-status-success)
	);
	--_pds-stepper-indicator-text-color-complete: var(
		--pds-stepper-indicator-text-color-complete,
		white
	);

	background-color: var(--_pds-stepper-indicator-background-color-complete);
	color: var(--_pds-stepper-indicator-text-color-complete);
}

.pds-stepper__step--complete .pds-stepper__step-label {
	--_pds-stepper-label-text-color-complete: var(
		--pds-stepper-label-text-color-complete,
		var(--pds-color-status-success-dark)
	);

	color: var(--_pds-stepper-label-text-color-complete);
}

/* Modifications for current step. */
.pds-stepper__step--current .pds-stepper__step-indicator {
	--_pds-stepper-indicator-background-color-current: var(
		--pds-stepper-indicator-background-color-current,
		white
	);
	--_pds-stepper-indicator-text-color-current: var(
		--pds-stepper-indicator-text-color-current,
		var(--pds-color-neutrals-darkest)
	);

	background-color: var(--_pds-stepper-indicator-background-color-current);
	color: var(--_pds-stepper-indicator-text-color-current);
	border: 3px solid var(--_pds-stepper-indicator-text-color-current);
	box-sizing: border-box;
}

.pds-stepper__step--current .pds-stepper__step-label {
	--_pds-stepper-label-text-color-current: var(
		--pds-stepper-label-text-color-current,
		var(--pds-color-status-success-darkest)
	);

	color: var(--_pds-stepper-label-text-color-current);
}

.pds-stepper__step--error .pds-stepper__step-indicator {
	--_pds-stepper-indicator-background-color-error: var(
		--pds-stepper-indicator-background-color-error,
		var(--pds-color-status-warning-dark)
	);
	--_pds-stepper-indicator-text-color-error: var(
		--pds-stepper-indicator-text-color-error,
		white
	);

	background-color: var(--_pds-stepper-indicator-background-color-error);
	color: var(--_pds-stepper-indicator-text-color-error);
	border-color: var(--_pds-stepper-indicator-background-color-error);
}
