@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-combobox-select-color-foreground 						-> set the color of all text and borders
 * --pds-combobox-select-color-background						-> set the background color of all elements (input, listbox option hover, etc)
 * --pds-combobox-select-color-text								-> set the color of all text (input, option)
 * --pds-combobox-select-border-radius							-> set the border radius size for all borders (input, listbox)
 * --pds-combobox-select-border-width							-> set the border width for all borders (input, listbox)
 *
 * --pds-combobox-select__input-color-border					-> set the color of the border for the "input" element
 *
 * --pds-combobox-select__listbox-color-background				-> set the background color for the listbox
 * --pds-combobox-select__listbox-color-border					-> set the color of the border for the listbox
 * --pds-combobox-select__listbox-color-text					-> set the color of text for the listbox
 *
 * --pds-combobox-select__listbox-item-color-background-hover	-> set the background color of each option when hovered
 * --pds-combobox-select__item-color-foreground-hover			-> set the color of text of each option when hovered/focused
 *
 */

.pds-combobox-select {
	--pds-combobox-select-color-text: var(--pds-combobox-select-color-foreground);
	--pds-combobox-select-border-radius: 0.25rem;
	--pds-combobox-select-border-width: 1px;

	display: inline-block;
}

.pds-combobox-select label {
	display: inline-block;
	font-size: token('typography.size.multipliers.reduce-one' to rem);
	font-weight: 600;
	margin-block-end: token('spacing.2XS' to em);
}

.pds-combobox-select [role='combobox'] {
	border-color: var(
		--pds-combobox-select__input-color-border,
		var(
			--pds-combobox-select-color-foreground,
			var(--pds-color-neutrals-dark-faded)
		)
	);
	border-radius: var(--pds-combobox-select-border-radius);
	border-style: solid;
	border-width: var(--pds-combobox-select-border-width);

	color: var(--pds-combobox-select-color-text);

	padding: token('spacing.XS' to em);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: token('spacing.M' to em);
}

.pds-combobox-select [role='combobox'] svg.select-indicator {
	width: token('spacing.S' to em);
}

.pds-combobox-select
	[role='combobox'][aria-expanded='true']
	svg.select-indicator {
	transform: rotate(180deg);
}

.pds-combobox-select [role='combobox']:focus-visible,
.pds-combobox-select [role='combobox']:active:enabled {
	outline: none;
	box-shadow: 0 0 0.5rem var(--pds-color-focus);
}

.pds-combobox-select [role='listbox'] {
	border-color: var(
		--pds-combobox-select__listbox-color-border,
		var(--pds-combobox-select-color-foreground, token('color.border.default'))
	);
	border-radius: var(--pds-combobox-select-border-radius);
	border-style: solid;
	border-width: var(--pds-combobox-select-border-width);
	background-color: var(
		--pds-combobox-select__listbox-color-background,
		var(--pds-color-neutrals-lightest)
	);

	list-style: none;
	margin: 0;

	padding: token('spacing.3XS' to em) 0;
	margin-block-start: token('spacing.2XS' to rem);

	max-width: 20rem;
	min-width: 8rem;

	max-height: 20rem;
	overflow-x: hidden;
	overflow-y: auto;

	position: absolute;
	top: 0;
	left: 0;
}

.pds-combobox-select [role='listbox'][data-fui-placement^='top'] {
	margin-block-start: calc(token('spacing.2XS' to rem) * -1);
}

.pds-combobox-select [role='listbox'] [role='option'] {
	color: var(
		--pds-combobox-select__listbox-color-text,
		var(--pds-color-text-darkest)
	);
	margin: 0;
	padding-block: token('spacing.3XS' to em);
	padding-inline: token('spacing.S' to em);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: token('spacing.M' to em);
}

.pds-combobox-select [role='listbox'] [role='option']:hover,
.pds-combobox-select
	[role='listbox']
	[role='option'].pds-combobox-select__item-focused {
	background-color: var(
		--pds-combobox-select__item-color-background-hover,
		var(
			--pds-combobox-select-color-background,
			var(--pds-color-highlight-light)
		)
	);
	color: var(
		--pds-combobox-select__item-color-foreground-hover,
		var(--pds-color-accents-deep)
	);
}

.pds-combobox-select
	[role='listbox']
	[role='option'][aria-selected='true']
	svg.checked-indicator {
	width: token('spacing.S' to em);
}
