@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-button-color-background 	-> set button background color
 * --pds-button-color-foreground 	-> set button foreground/text color
 * --pds-button-color-border		-> set button border color
 * --pds-button-border-radius		-> set button border radius size
 * --pds-button-border-width		-> set button border size/thickness
 *
 */

button.pds-button {
	--_pds-button-color-background: var(
		--pds-button-color-background,
		transparent
	);
	--_pds-button-color-foreground: var(
		--pds-button-color-foreground,
		var(--pds-color-accents-deep)
	);
	--_pds-button-color-border: var(
		--pds-button-color-border,
		var(--_pds-button-color-foreground)
	);
	--_pds-button-border-radius: var(
		--pds-button-border-radius,
		token('border.radius.default' to rem)
	);
	--_pds-button-border-width: var(
		--pds-button-border-width,
		token('border.width.default' to px)
	);

	background-color: var(--_pds-button-color-background);
	color: var(--_pds-button-color-foreground);

	border-color: var(--_pds-button-color-border);
	border-radius: var(--_pds-button-border-radius);
	border-style: solid;
	border-width: var(--_pds-button-border-width);
	font-size: token('typography.size.multipliers.reduce-one' to rem);
	padding: token('spacing.XS' to rem);
	/* margin-block-end: token('spacing.M' to rem); */
}

button.pds-button + button.pds-button {
	margin-inline-start: token('spacing.M' to rem);
}

button.pds-button:focus-visible,
button.pds-button:active:enabled {
	outline: none;
	box-shadow: 0 0 0.5rem var(--pds-color-focus);
}

button.pds-button:disabled {
	--_pds-button-color-background: var(--pds-color-highlight-light);
	--_pds-button-color-foreground: var(--pds-color-text-disabled);
	--_pds-button-color-border: var(--_pds-button-color-background);
}

button.pds-button--primary {
	--_pds-button-color-background: var(--pds-color-brand-primary);
	--_pds-button-color-foreground: var(--pds-color-text-darkest);
	--_pds-button-color-border: var(--_pds-button-color-background);
}

button.pds-button--primary:disabled {
	--_pds-button-color-background: var(--pds-color-brand-primary-light);
}

button.pds-button--primary:hover:enabled {
	--_pds-button-color-background: var(--pds-color-brand-primary-dark);
}

button.pds-button--subtle {
	--_pds-button-color-border: transparent;
}

button.pds-button--critical {
	--_pds-button-color-foreground: var(--pds-color-status-error);
}

button.pds-button--critical:hover:enabled {
	--_pds-button-color-background: var(--pds-color-status-error-light);
}

button.pds-button--secondary:hover:enabled,
button.pds-button--subtle:hover:enabled {
	--_pds-button-color-background: var(--pds-color-highlight-light);
}
