@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-menu-button-color-border 					-> set menu's overall border color
 * --pds-menu-button__listbox-border-radius			-> set menu listbox' border radius size
 * --pds-menu-button__listbox-border-size			-> set menu listbox' border size/thickness
 * --pds-menu-button__item-color-background			-> set menu item background color (hover)
 * --pds-menu-button__listbox-color-background		-> set menu listbox' background color
 * --pds-menu-button__item-color-foreground-hover	-> set menu item foreground color on hover
 *
 */

.pds-menu-button {
	--_pds-menu-button-color-border: var(
		--pds-menu-button-color-border,
		var(--pds-button-color-border, var(--pds-color-accents-deep))
	);

	--_pds-menu-button__item-color-background: var(
		--pds-button-color-background,
		var(--pds-color-highlight-light)
	);

	--_pds-menu-button__listbox-color-text: var(--pds-color-text-darkest);

	--_pds-menu-button__listbox-color-border: var(
		--pds-menu-button__listbox-color-border,
		var(--pds-color-border-default)
	);
	--_pds-menu-button__listbox-border-radius: var(
		--pds-menu-button__listbox-border-radius,
		var(--pds-button-border-radius, token('border.radius.default' to rem))
	);
	--_pds-menu-button__listbox-border-width: var(
		--pds-menu-button__listbox-border-width,
		var(--pds-button-border-width, token('border.width.default' to px))
	);
	--_pds-menu-button__listbox-color-background: var(
		--pds-menu-button__listbox-color-background,
		var(--pds-color-neutrals-lightest)
	);
	--_pds-menu-button__item-color-foreground-hover: var(
		--pds-menu-button__item-color-foreground-hover,
		var(--pds-color-accents-deep)
	);

	display: inline-block;
}

button.pds-menu-button__trigger {
	display: flex;
	gap: token('spacing.XS' to em);
	align-items: center;
}

button.pds-menu-button__trigger svg.trigger-indicator {
	width: token('spacing.S' to em);
}

button.pds-menu-button__trigger[aria-expanded='true'] svg.trigger-indicator {
	transform: rotate(180deg);
}

.pds-menu-button ul,
.pds-menu-button ul [role='separator'] {
	padding: 0;
	margin: 0;
}

.pds-menu-button ul {
	list-style: none;
}

.pds-menu-button [role='menu'] {
	border-color: var(--_pds-menu-button__listbox-color-border);
	border-radius: var(--_pds-menu-button__listbox-border-radius);
	border-style: solid;
	border-width: var(--_pds-menu-button__listbox-border-width);
	background-color: var(--_pds-menu-button__listbox-color-background);

	padding: token('spacing.3XS' to em) 0;
	margin-block-start: token('spacing.2XS' to rem);

	max-width: 20rem;
	min-width: 8rem;

	position: absolute;
	top: 0;
	left: 0;
}

.pds-menu-button [role='menu'][data-fui-placement^='top'] {
	margin-block-start: calc(token('spacing.2XS' to rem) * -1);
}

.pds-menu-button [role='menu'] [role='menuitem'],
.pds-menu-button [role='menu'] [role='presentation'] {
	color: var(--pds-menu-button__listbox-color-text);
	margin: 0;
	padding-block: token('spacing.3XS' to em);
	padding-inline: token('spacing.S' to em);
}

.pds-menu-button [role='menu'] [role='menuitem']:hover,
.pds-menu-button [role='menu'] [role='menuitem'].pds-menu-button__item-focused {
	background-color: var(--_pds-menu-button__item-color-background);
	color: var(--_pds-menu-button__item-color-foreground-hover);
	font-weight: token('typography.font-weight.bold');
}

.pds-menu-button [role='menu'] [role='separator'] {
	border-block-start: 1px solid #dfdfec;
}

.pds-menu-button [role='menu'] .pds-menu-button__listbox-heading {
	color: var(--pds-color-neutrals-dark-faded);
	font-family: token('typography.font.headings');
	font-size: token('typography.size.multipliers.reduce-one' to rem);
	letter-spacing: token('typography.letter-spacing.M' to em);
	text-transform: uppercase;
	padding-block: token('spacing.2XS') em token('spacing.3XS' to em);
}
