@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-radio-group-						-> <add description>
 *
 */

.pds-radio-group {
	--_pds-radio-group-input-border-width: 0.15em;

	border: none;
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 0;
}

.pds-radio-group legend {
	margin-block-end: token('spacing.XS' to em);
}

.pds-radio-group .pds-radio-group__option {
	display: grid;
	grid-template-columns: 1em auto;
	column-gap: token('spacing.2XS' to em);

	font-size: token('typography.size.multipliers.sixth' to em);

	width: max-content;
}

.pds-radio-group .pds-radio-group__option input[type='radio'] {
	transform: translateY(calc(var(--_pds-radio-group-input-border-width) / 2));
	display: grid;
	place-content: center;

	appearance: none;
	background-color: transparent;
	margin: 0;

	width: 1em;
	height: 1em;
	border-width: var(--_pds-radio-group-input-border-width);
	border-style: solid;
	border-color: token('color.neutrals.dark');
	border-radius: 50%;
}

.pds-radio-group .pds-radio-group__option input[type='radio']::before {
	content: '';
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--pds-color-neutrals-lightest);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}

.pds-radio-group .pds-radio-group__option input[type='radio']:checked {
	background-color: token('color.accents.deep');
	border-color: token('color.accents.deep');
}

.pds-radio-group .pds-radio-group__option input[type='radio']:checked::before {
	transform: scale(1);
}

.pds-radio-group .pds-radio-group__option input[type='radio']:focus-visible {
	outline: none;
}

.pds-radio-group .pds-radio-group__option:focus-within {
	outline: none;
	box-shadow: 0 0 0.5em var(--pds-color-focus);
	padding: token('spacing.4XS' to em);
	margin: calc(token('spacing.4XS' to em) * -1);
	margin-block-end: calc(
		token('spacing.2XS' to em) - token('spacing.4XS' to em)
	);
}
