@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-checkbox-						-> <add description>
 *
 */

.pds-checkbox {
	--_pds-checkbox-input-size: 1.25em;
	--_pds-checkbox-input-border-width: 0.0625em;
	--_pds-checkbox-label-size: token('typography.size.multipliers.sixth' to em);

	display: grid;
	grid-template-columns: var(--_pds-checkbox-input-size) auto;
	align-items: start;
	column-gap: token('spacing.2XS' to em);
}

.pds-checkbox label {
	margin-block-start: calc(
		(var(--_pds-checkbox-input-size) - var(--_pds-checkbox-label-size)) * -0.5
	);
	color: token('color.neutrals.darkest');
	font-family: token('typography.font.bodycopy');
	font-size: var(--_pds-checkbox-label-size);
	line-height: token('typography.line-height.M');
}

.pds-checkbox input[type='checkbox'] {
	position: relative;
	appearance: none;
	width: var(--_pds-checkbox-input-size);
	height: var(--_pds-checkbox-input-size);

	border-width: var(--_pds-checkbox-input-border-width);
	border-style: solid;
	border-color: token('color.neutrals.dark');
	border-radius: 0.125em;
	background-color: transparent;
}

/* Checked + Indeterminate */
.pds-checkbox input[type='checkbox']:checked,
.pds-checkbox input[type='checkbox']:indeterminate {
	background-color: token('color.accents.deep');
	border-color: token('color.accents.deep');
}

.pds-checkbox input[type='checkbox']:checked::before,
.pds-checkbox input[type='checkbox']:checked::after {
	content: '';
	background-color: white;
	position: absolute;
	bottom: calc(var(--_pds-checkbox-input-size) * 0.2);
	transform: translateX(calc(var(--_pds-checkbox-input-size) * 0.375))
		rotate(-45deg);
	transform-origin: left bottom;
	border-radius: 0.0625em;
}

.pds-checkbox input[type='checkbox']:checked::before {
	height: calc(var(--_pds-checkbox-input-size) * 0.325);
	width: calc(var(--_pds-checkbox-input-size) * 0.125);
}

.pds-checkbox input[type='checkbox']:checked::after {
	height: calc(var(--_pds-checkbox-input-size) * 0.125);
	width: calc(var(--_pds-checkbox-input-size) * 0.5625);
}

.pds-checkbox input[type='checkbox']:indeterminate::before {
	content: '';
	background-color: white;
	position: absolute;
	bottom: calc(50% - (var(--_pds-checkbox-input-size) * 0.1) / 2);
	left: calc(50% - (var(--_pds-checkbox-input-size) * 0.5) / 2);
	height: calc(var(--_pds-checkbox-input-size) * 0.1);
	width: calc(var(--_pds-checkbox-input-size) * 0.5);
	border-radius: 0.0625em;
}

/* Disabled. */
.pds-checkbox input[type='checkbox'][disabled] {
	background-color: token('color.neutrals.medium-light');
	cursor: not-allowed;
}

.pds-checkbox input[type='checkbox'][disabled]:checked {
	background-color: token('color.neutrals.medium-dark');
	border-color: token('color.neutrals.medium-dark');
}

.pds-checkbox input[type='checkbox'][disabled] + label {
	color: token('color.neutrals.dark');
}

/* Focus. */
.pds-checkbox input[type='checkbox']:focus-visible {
	outline-width: 0.125em;
	outline-style: solid;
	outline-color: token('color.focus');
	outline-offset: 0.1875em;
}

.pds-checkbox input[type='checkbox']:focus-visible + label {
	color: token('color.accents.deep');
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: token('color.focus');
	text-decoration-thickness: 0.15em;
	text-underline-offset: 0.15em;
}
