@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-input-text-						-> <add description>
 *
 */

.pds-input-text textarea.pds-input-field__input {
	height: 8em;
	resize: none;
}

.pds-input-text.pds-is-textarea .pds-input-field__accessories,
.pds-input-text.pds-is-textarea .pds-input-field__decorators {
	align-self: flex-start;
	margin-block-start: token('spacing.4XS' to em);
}

.pds-input-text input[type='search']::-webkit-search-decoration,
.pds-input-text input[type='search']::-webkit-search-cancel-button,
.pds-input-text input[type='search']::-webkit-search-results-button,
.pds-input-text input[type='search']::-webkit-search-results-decoration {
	display: none;
}
