@design-tokens url('node_modules://@pantheon-systems/pds-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/*
 * CSS theming API
 *
 * --pds-input-obscured-						-> <add description>
 *
 */

.pds-input-obscured .pds-input-obscured__aria-live {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pds-input-obscured .pds-input-obscured__toggle {
	padding: token('spacing.4XS' to em);
}

.pds-input-obscured .pds-input-obscured__toggle svg {
	width: token('spacing.L' to em);
}
